#body1 {background-image:url("CPTimages/hardware1.jpg"); color:white; background-repeat : no-repeat; background-size: cover;}
#body2 {background-image:url("CPTimages/hardware2.jpg"); color:white; background-repeat : no-repeat; background-size: cover;}
#body3 {background-image:url("CPTimages/software1.jpg"); color:white; background-repeat : no-repeat; background-size: cover;}
#body4 {background-image:url("CPTimages/software2.jpg"); color:white; background-repeat : no-repeat; background-size: cover;}
#body5 {background-image:url("CPTimages/app1.jpg"); color:white; background-repeat : no-repeat; background-size: cover;}
#body6 {background-image:url("CPTimages/app2.jpg"); color:white; background-repeat : no-repeat; background-size: cover;}
#body7 {background-image:url("CPTimages/html1.jpg"); background-repeat : no-repeat; background-size: cover;}
#body8 {background-image:url("CPTimages/html2.jpg"); color:white; background-repeat : no-repeat; background-size: cover;}
#body9 {background-image:url("CPTimages/javascript1.jpg"); color:white; background-repeat : no-repeat; background-size: cover;}
#body10 {background-image:url("CPTimages/javascript2.jpg"); background-repeat : no-repeat; background-size: cover;}
#bodyfinal {background-image:url("CPTimages/fireworks.gif"); background-repeat : no-repeat; background-size: cover;}

h2 {font-size:18px}
h1 {color:white}
#para1 {color:white}
