#body1 {background-image:url("CPTimages/hardware1.jpg"); color:white; background-size:100%}
#body2 {background-image:url("CPTimages/hardware2.jpg"); color:white; background-size:100%}
#body3 {background-image:url("CPTimages/software1.jpg"); color:white; background-size:100%}
#body4 {background-image:url("CPTimages/software2.jpg"); color:white; background-size:100%}
#body5 {background-image:url("CPTimages/app1.jpg"); color:white; background-size:100%}
#body6 {background-image:url("CPTimages/app2.jpg"); color:white; background-size:100%}
#body7 {background-image:url("CPTimages/html1.jpg"); background-size:100%}
#body8 {background-image:url("CPTimages/html2.jpg"); color:white; background-size:100%}
#body9 {background-image:url("CPTimages/javascript1.jpg"); color:white; background-size:100%}
#body10 {background-image:url("CPTimages/javascript2.jpg"); background-size:100%}


h2 {font-size:18px}